<!DOCTYPE html>
<html>
	<head>
		<style>
			.game-board{ 
				width: 600px;
				display:  grid;
				grid-template-columns: repeat(5, 100px);
 				grid-template-rows: repeat(5, 100px);
  				grid-auto-flow: column;
				  margin : auto;
			}
			.box {
				background-color: #d9d9d9;
				border: 2px solid black;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/page_style.css') }}">
		<title>Maki</title>
	</head>
	<body>
		<header>
			<h1 class="gameTitle">Maki</h1>
		</header>
		<div class="game-board">
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
		</div>
	</body>
</html>