<!DOCTYPE html>
<html>
	<head>
		<style>
			body { 
				background-color: #ffd933; 
			}

			#gameTitle {
				text-align: left;
				font-family: "Fantasy";
				color : #581845;
				font-weight: bolder;
				}

			#gameAccessButton {
				display : block;
				margin : auto;
			}

		</style>
		<title>Page accueil</title>

	</head>
	<body>
		<header>
			<h1 id = "gameTitle">Maki</h1>
		</header>

		<a href="game"><input type = "button" value = "Accéder au jeu !" id = "gameAccessButton"/></a>
		<script type="text/javascript">
			
		</script>
		<p></p>
	</body>
</html>
</HTML>